@import "color-font";

/*顶部导航*/
.nav-wrap {
  width: 100%;
  position: fixed;
  z-index: 99;
  //background-color: #fff;
  >img{
      width: 100%;
      height: 8px;
      position: absolute;
      top: 70px;
      // display: none;
    }

  .headerNav {
    width: 1200px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: left;
    
    .headerNavIcon {
      display: inline-block;
      background-image: url(../images/homePage_logo.png);
      height: 49px;
      width: 284px;
      //margin-right: 86px;
      vertical-align: middle;
      background-repeat:no-repeat;
    }
    .headerNavUl {
      float: right;
      display: inline-block;
      *display: inline;
      zoom: 1;
      height: 70px;
      line-height: 70px;
      margin: 0;
      vertical-align: top;

      > li {
        vertical-align: top;
        height: 66px;
        line-height: 66px;
        cursor: pointer;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
        font-size: 18px;
        color: #333333;
        font-weight: 200;
        margin: 0 130px 0 0;
        >a{
          display: inline-block;
          height: 66px;
          width: 100%;
          font-size: inherit;
          color: inherit;
        }
      }
      > li:hover {
        border-bottom: 4px solid $primaryColor;
      }
      > li:last-child {
        margin-right: 0px;
      }
    }


    .nav-login-left{
      height:22px;
      line-height:22px;
      display: inline-block;
      margin-top: 23px;
      vertical-align: middle;
    }
    .separate{
      width: 1px;
      height: 22px;
      margin: auto 11px;
      display: inline-block;
      background-color: #666666;
      vertical-align: middle;
    }
    .nav-login{
      font-size: 20px;
      color: #666666;
      vertical-align: middle;
      font-weight: 100;
    }
    .nav-login-right{
      float: right;
    }
    .nav-title{
      height: 70px;
      >a{
        color: #333333;
        font-size: 14px;
      }
    }
    .nav-title{
      font-size: 14px;
      color: #333333;
      cursor: pointer;
    }
    .separate-small{
      width: 1px;
      height: 14px;
      margin: 0 9px 0 11px;
      display: inline-block;
      background-color: #333333;
    }
    .nav-phone-icon{
      width: 18px;
      height: 18px;
    }
    .nav-tel{
      font-size: 14px;
      color: #333333;
    }
  }
}



/*导航栏选中*/
.nav-wrap .headerNav .headerNavUl .navCheck {
  border-bottom: 4px solid #00a2c9;
  color: $primaryColor!important;
}

.header-nav-blank{
  height: 70px;
}